.body {
  background-color: lightgrey;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.click-here {
  background-color: cadetblue;
}

#forms input {
  color: rgb(33, 37, 41);
  height: 20px;
  text-transform: uppercase;
  background: linear-gradient(rgb(252, 248, 234), rgb(255, 255, 255), rgb(248, 239, 211));
  border-radius: 3px;
  padding: 0px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(208, 190, 144);
  border-image: initial;
  width: 40%;
}

.next-form {
  display: none;
}